body{
  font-family: "Share Tech Mono", sans-serif;
  text-align: center;
  background-color: #8D8D94;
}
.mainBut {
  font-family: inherit;
  background-color: #9999FF;
  font-size: 30px
}
.divBut {
  background-color: #9999FF;
}
.normal {
  background-color: #9999FF;
  width: 80%;
}
.different {
  background-color: #0a527f;
  width: 80%;
  margin: 0 auto;
}
